.post-content{
    display: flex;
}
.navbar-items{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.icons{
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}
.gallery{
    display: flex;
}
.small-pictures{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.pictures{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}