div{
    width: 500px;
    height: 500px;
    animation: ani 5s infinite linear;
}
@keyframes ani{
    0%{
        background-color: green;
    }
    50%{
        background-color: orange;
    }
    100%{
        background-color: blue;
    }
}