.wrapper{
    color: white;
    text-align: center;
    font-size: 50px;
    display: grid;
    grid-gap: 5px;
}
#green{
    background: rgb(163, 255, 163);
    grid-column-start: 1;
    grid-column-end: 3;
}
#pink{
    background: rgb(241, 163, 255);
}
#red{
    background: rgb(255, 163, 163);
    grid-row-start: 2;
    grid-row-end: 4;
    
}
#blue{
    background: rgb(163, 184, 255);
    grid-column-start: 2;
    grid-column-end: 4;
}
#orange{
    background: rgb(255, 217, 163);
}
#purple{
    background: rgb(195, 163, 255);
}
